DEPLOYMENT_ENV=development
SITE_URL=https://nu-isoleren.be
SEO_INDEXING_ENABLED=false
API_URL=
NEXT_PUBLIC_API_URL=
MEDIA_URL=
NEXT_PUBLIC_S3_PUBLIC_URL=
REVALIDATION_SECRET=
NEXT_PUBLIC_GTM_ID=GTM-P6K3L9WQ
