


API_URL=
NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_S3_PUBLIC_URL=
REVALIDATION_SECRET=
NEXT_PUBLIC_GTM_ID=GTM-P6K3L9WQ


DEPLOYMENT_ENV=development
SITE_URL=https://www.nu-isoleren.be
SEO_INDEXING_ENABLED=false
NEXT_PUBLIC_CLARITY_ID=
NEXT_PUBLIC_GA_ID=